<div class="flex w-full justify-content-between" >
    <div>
        <p-image src="/assets/images/logo.png" alt="Image" width="50" />
    </div>
    <div class=" flex-column md:flex-row md:justify-content-between row-gap-3"
        style="background-color: #D4A017; border-radius: 10px; height: 44px; ">
        <p-button label="Home" variant="text" [text]="true" [plain]="true"/>
        <p-button label="Caseifici" [text]="true" [plain]="true"/>
        <p-button label="Login" [text]="true" [plain]="true"/>
        <p-button label="Contatti" [text]="true" [plain]="true"/>
        <p-button icon="pi pi-shopping-cart" [text]="true" [plain]="true"/>
    </div>
</div>