<div class="flex w-full justify-content-between" >
    <div>
        <p-image src="/assets/images/logo.png" alt="Image" width="150" />
    </div>
    <div class=" flex lg:align-items-center  align-items-stretch flex-wrap"
    style="background-color: #D4A017; border-radius: 10px; height: 65px; width: 650px;">
        <p-button label="Home" variant="text"/>
        <p-button label="Caseifici"/>
        <p-button label="Login"/>
        <p-button label="Contatti"/>
        <p-button icon="pi pi-shopping-cart"/>
    </div>
</div>