<div class="flex w-full justify-content-between">
    <div>
        <p-image src="/assets/images/logo.png" alt="Image" width="150" />
    </div>
    <div class="flex justify-content-between flex-wrap container">
        <div class="element">
            <p-button [styleClass]="'custom-btn'" label="Home" (onMouseover)="onButtonHover($event)" (click)="navigateTo('consorzio')"/>
        </div>
        <div class="element">
            <p-button [styleClass]="'custom-btn'" label="Caseifici" (onMouseover)="onButtonHover($event)" (click)="navigateTo('caseifici')"/>
        </div>
        <div class="element">
            <p-button [styleClass]="'custom-btn'" label="Login" (onMouseover)="onButtonHover($event)" (click)="navigateTo('login')"/>
        </div>
        <div class="element">
            <p-button [styleClass]="'custom-btn'" label="Contatti" (onMouseover)="onButtonHover($event)" (click)="navigateTo('contatti')"/>
        </div>
        <div class="element">
            <p-button [styleClass]="'custom-btn'" icon="pi pi-shopping-cart" (onMouseover)="onButtonHover($event)" (click)="navigateTo('carrello')"/>
        </div>
    </div>
</div>