<h1>Caseifici</h1>
<div class="caseificio-container">
  <section *ngFor="let caseificio of caseifici()" class="caseificio-card">
    <div class="card-header">
      <h2>{{ caseificio.cas_nome }}</h2>
    </div>
    <div class="card-body">
      <p><strong>Descrizione:</strong> {{ caseificio.cas_dex }}</p>
      <p><strong>Partita IVA:</strong> {{ caseificio.cas_partita_iva }}</p>
      <p><strong>Indirizzo:</strong> {{ caseificio.cas_indirizzo }}</p>
    </div>
    <div class="card-footer">
      <button (click)="caricaCaseificio(caseificio.cas_code)">
        Vedi Dettagli
      </button>
    </div>
  </section>
</div>
