/* Generale */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Sezione galleria */
.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.gallery-item {
  width: 100%;
  display: block;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.gallery-thumbnail {
  width: 100%;
  display: block;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

/* Barra del titolo */
.header-bar {
  background-color: #004d00;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Descrizione Consorzio */
.description {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.description p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.description h3 {
  font-size: 20px;
  color: #004d00;
}

/* Sezione Mappa */
.map-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.map-container p {
  font-size: 16px;
  color: #333;
  text-align: center;
}

/* Lista Membri */
.members-list {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.members-list h4 {
  font-size: 22px;
  color: #004d00;
  margin-bottom: 15px;
}

.members-list ul {
  list-style: none;
  padding-left: 20px;
}

.members-list ul li {
  font-size: 16px;
  color: #555;
  line-height: 1.8;
}

/* Media Queries per Dispositivi Mobili */
@media (max-width: 768px) {
  .gallery-container {
      max-width: 100%;
  }

  .description {
      font-size: 14px;
      padding: 15px;
  }

  .description h3 {
      font-size: 18px;
  }

  .map-container {
      height: 250px;
  }

  .members-list h4 {
      font-size: 18px;
  }
}

@media (max-width: 480px) {
  .header-bar {
      font-size: 18px;
      padding: 15px;
  }

  .description {
      font-size: 13px;
      padding: 10px;
  }

  .members-list h4 {
      font-size: 16px;
  }
}
