/* Stile per il titolo del caseificio */
.caseificio-title {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Contenitore galleria */
.gallery-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* Descrizione del caseificio */
.caseificio-info {
  font-size: 1rem;
  color: #555;
  margin: 20px;
  text-align: center;
  background-color: #161616;
  padding-bottom: 20px;
  padding-top: 5px;
}

/* Stile per la descrizione */
.caseificio-description {
  font-size: 1.1rem;
  font-weight: 400;
  color: #7e7e7e;
  margin-bottom: 20px;
}

.vedi-forme-btn {
  width: auto !important;
  min-width: 150px; /* Imposta una larghezza minima */
  padding: 10px 20px; /* Imposta padding per adattare il testo */
  border-radius: 10px; /* Per mantenere lo stile arrotondato */
}


/* Adatta la galleria per i dispositivi mobili */
@media (max-width: 768px) {
  .caseificio-title {
    font-size: 1.6rem;
  }

  .caseificio-description {
    font-size: 1rem;
  }

  .vedi-forme-btn {
    font-size: 1rem;
    padding: 10px 15px;
  }
}


