<h1 class="caseificio-title">{{caseificio?.cas_nome}}</h1>

<div class="gallery-container"> <!-- IMMAGINI DA IMPLEMENTARE IN MODO DINAMICO (DA MODIFICARE SU TS) -->
  <p-galleria
      [value]="images"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      [showIndicators]="true"
      [showItemNavigatorsOnHover]="true"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ 'max-width': '320px', 'box-shadow': '0 4px 10px rgba(0, 0, 0, 0.1)', 'border-radius': '15px' }">
      <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" style="width: 100%; display: block; border-radius: 15px;" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
          <img [src]="item.thumbnailImageSrc" style="display: block; border-radius: 10px; margin-right: 10px;"/>
      </ng-template>
  </p-galleria>
</div>
<div *ngIf="isAuthenticated()" class="dati-giornalieri-info">
  <h1>DATI GIORNALIERI</h1> <br>
  <p class="dati-giornalieri-description"> Vedi i dati giornalieri relativi al caseificio.</p>
  <p-button label="Vedi Dati Giornalieri" class="vedi-dati-btn" (onClick)="vediDatiGiornalieri(caseificio?.cas_code)"></p-button>
</div>

<div class="caseificio-info">
  <h1>CHI SIAMO</h1> <br>
  <p class="caseificio-description"> {{caseificio?.cas_dex}}</p>
  <p-button label="Vedi Forme" class="vedi-forme-btn" (onClick)="vediForme(caseificio?.cas_code)"></p-button>
</div>
