<div class="login-container">
  <div class="login-card">
    <div class="login-card-inner">
      <div class="logo-container">
        <img src="assets/images/logo.png" alt="Logo Consorzio" class="logo-img">
        <h1>Consorzio di Formaggi Tipici</h1>
      </div>

      <!-- Sezione Login -->
      <div *ngIf="isLogging; else registerTemplate">
        <div class="form-group">
          <input type="username" [(ngModel)]="cliente.cli_username" placeholder="Username">
        </div>

        <div class="form-group">
          <input type="password" [(ngModel)]="cliente.cli_password" placeholder="Password">
        </div>

        <button (click)="accedi()" class="sign-in-button">Accedi</button>

        <p class="register-prompt">
          Non hai ancora un Account? <a (click)="isLogging = false">Registrati</a>
        </p>
      </div>

      <!-- Sezione Registrazione -->
      <ng-template #registerTemplate>
        <div class="form-group">
          <input type="text" [(ngModel)]="cliente.cli_username" placeholder="Username">
        </div>

        <div class="form-group">
          <input type="password" [(ngModel)]="cliente.cli_password" placeholder="Password">
        </div>

        <div class="form-group">
          <input type="text" [(ngModel)]="cliente.cli_nome" placeholder="Nome">
        </div>

        <div class="form-group">
          <input type="text" [(ngModel)]="cliente.cli_cognome" placeholder="Cognome">
        </div>

        <div class="form-group">
          <input type="text" [(ngModel)]="cliente.cli_indirizzo" placeholder="Indirizzo">
        </div>

        <div class="form-group">
          <input type="email" [(ngModel)]="cliente.cli_email" placeholder="Email">
        </div>

        <div class="form-group">
          <input type="text" [(ngModel)]="cliente.cli_num_tel" placeholder="Numero di Telefono">
        </div>

        <div class="form-group">
          <input type="text" [(ngModel)]="cliente.cli_partita_iva" placeholder="Partita Iva">
        </div>

        <button (click)="registrati()" class="register-button">Registrati</button>

        <p class="register-prompt">
          Hai già un Account? <a (click)="isLogging = true">Vai al Login</a>
        </p>
      </ng-template>

    </div>
  </div>
</div>
