.div-login{
    width: 45%;
    height: 50%;
    background-color: blue;

    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

div .div-login p-image img {
    background-color: transparent;
  }