<h1>Forme</h1>
<div class="forma-container">
  <section *ngFor="let forma of forme()" class="forma-card">
    <div class="card-header">
      <h2>{{ forma.for_nome }}</h2>
    </div>
    <div class="card-body">
      <p><strong>Data:</strong> {{ forma.for_data }}</p>
      <p><strong>Numero Forma:</strong> {{ forma.for_num_forma }}</p>
      <p><strong>Scelta:</strong> {{ forma.for_scelta }}</p>
      <p><strong>Prezzo Reale:</strong> €{{ forma.for_prezzo_reale }}</p>
    </div>
    <div class="card-footer">
      <button (click)="vaiADettagliForma(forma.for_id)">Vedi Forma</button>
    </div>
  </section>
</div>
